In [2]:
# TU LIMPIEZA Y ANÁLISIS AQUÍ
import pandas as pd
import numpy as np
import seaborn as sns
import cleaning

In [3]:
tvs_df=pd.read_csv('datos/tvs.csv')
tvs_df

,_id,created_by,first_air_date,genres,id,in_production,last_air_date,name,number_of_episodes,number_of_seasons,...,original_language,original_name,overview,popularity,poster_path,production_companies,status,tagline,vote_average,vote_count
0,6457d26c7b901e08b141869d,[],1996-10-09,"[{""id"":35,""name"":""Comedy"",""_id"":{""$oid"":""6457d...",13,True,2022-02-16,How do you like Wednesday?,568.0,4,...,ja,水曜どうでしょう,How do you like Wednesday? was a Japanese tele...,21.207,/i2MwS6U0XzD8ad6aS3HiTNKz8ov.jpg,[],Returning Series,NaN,9.200,2
1,6457d26c7b901e08b141867a,"[{""id"":19303,""name"":""Kevin Smith"",""_id"":{""$oid...",2000-05-31,"[{""id"":16,""name"":""Animation"",""_id"":{""$oid"":""64...",2,False,2002-12-22,Clerks,6.0,1,...,en,Clerks,The continuing adventures of store clerks Dant...,10.620,/xunXvzFlkf1GGgMkCySA9CCFumB.jpg,"[{""id"":1558,""name"":""Touchstone Television"",""lo...",Canceled,NaN,6.897,78
2,6457d26c7b901e08b141869f,[],2006-08-20,"[{""id"":35,""name"":""Comedy"",""_id"":{""$oid"":""6457d...",14,False,2006-11-11,Shuriken School,26.0,1,...,en,Shuriken School,Shuriken School is a British animated series t...,3.034,/khXHvYKAvGqjtnKoLVYZr8r5yKD.jpg,"[{""id"":75257,""name"":""Zinkia Entertainment"",""lo...",Ended,NaN,5.500,6
3,6457d26c7b901e08b14186a5,"[{""id"":1074129,""name"":""Fred Rogers"",""_id"":{""$o...",1968-02-19,"[{""id"":10762,""name"":""Kids"",""_id"":{""$oid"":""6457...",15,False,2001-09-07,Mister Rogers' Neighborhood,850.0,31,...,en,Mister Rogers' Neighborhood,Mister Rogers' Neighborhood is an American chi...,19.167,/4Gz46uJg6MFaM4xeblbVNSxCyTr.jpg,"[{""id"":16021,""name"":""WQED"",""logo_path"":""/2bjAi...",Ended,Won't you be my neighbor?,4.977,88
4,6457d26c7b901e08b14186ab,"[{""id"":1211910,""name"":""Richard R. Lee"",""_id"":{...",NaN,[],16,False,2005-09-09,Sidewalks: Video Nite,399.0,11,...,en,Sidewalks: Video Nite,Sidewalks: Video Nite is an American televisio...,2.910,NaN,[],Ended,NaN,0.000,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
150797,645c00b1378e4a37f5092e21,[],2015-06-12,"[{""id"":99,""name"":""Documentary"",""_id"":{""$oid"":""...",226231,False,2015-06-13,北京之夜,4.0,1,...,zh,北京之夜,NaN,0.000,NaN,[],Ended,NaN,0.000,0
150798,645c00b1378e4a37f5092e23,[],2014-07-29,"[{""id"":99,""name"":""Documentary"",""_id"":{""$oid"":""...",226232,False,2014-09-02,北洋海军兴亡史,6.0,1,...,zh,北洋海军兴亡史,NaN,0.000,/rcNz0Amku0XWOC3LuLfRHiKYqS3.jpg,[],Ended,NaN,0.000,0
150799,645c00b1378e4a37f5092e25,[],2023-05-09,[],226233,True,2023-05-09,Turkey: Empire of Erdogan,1.0,1,...,en,Turkey: Empire of Erdogan,A few months after his brutal crackdown on pro...,0.000,/l7rcVP8Q5yY4M7O6rJSstV7eIin.jpg,[],Returning Series,NaN,0.000,0
150800,645c00b1378e4a37f5092e26,[],2023-01-24,[],226234,True,2023-01-24,Woooooo! Becoming Ric Flair,1.0,1,...,en,Woooooo! Becoming Ric Flair,Ric Flair Biography,0.000,NaN,[],Returning Series,NaN,0.000,0
150801,645c00b1378e4a37f5092e27,"[{""id"":2415505,""name"":""Mickaël Gamrasni"",""_id""...",2021-09-01,"[{""id"":99,""name"":""Documentary"",""_id"":{""$oid"":""...",226235,False,2021-09-01,La France de l'après-guerre,2.0,1,...,fr,La France de l'après-guerre,NaN,0.000,/38ojnsCCzR720oPRm61tTeIZmnb.jpg,"[{""id"":91242,""name"":""Nilaya Productions"",""logo...",Ended,NaN,8.000,1

In [4]:
tvs_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150802 entries, 0 to 150801
Data columns (total 21 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   _id                   150802 non-null  object
 1   created_by            150802 non-null  object
 2   first_air_date        119932 non-null  object
 3   genres                150802 non-null  object
 4   id                    150802 non-null  int64
 5   in_production         150802 non-null  bool
 6   last_air_date         122108 non-null  object
 7   name                  150796 non-null  object
 8   number_of_episodes    150168 non-null  float64
 9   number_of_seasons     150802 non-null  int64
 10  origin_country        150802 non-null  object
 11  original_language     150802 non-null  object
 12  original_name         150796 non-null  object
 13  overview              84623 non-null   object
 14  popularity            150802 non-null  float64
 15  poster_path           94927 non-null   object
 16  production_companies  150802 non-null  object
 17  status                150802 non-null  object
 18  tagline               4564 non-null    object
 19  vote_average          150802 non-null  float64
 20  vote_count            150802 non-null  int64
dtypes: bool(1), float64(3), int64(3), object(14)
memory usage: 23.2+ MB

In [17]:
muestra_tvs_df = tvs_df.sample(20)
muestra_tvs_df

,_id,created_by,first_air_date,genres,id,in_production,last_air_date,name,number_of_episodes,number_of_seasons,...,original_language,original_name,overview,popularity,poster_path,production_companies,status,tagline,vote_average,vote_count
139999,64585b2c7b901e08b14757ce,"[{""id"":1702940,""name"":""Anne Landois"",""_id"":{""$...",NaN,"[{""id"":10759,""name"":""Action & Adventure"",""_id""...",213845,True,NaN,66-5,1.0,1,...,fr,66-5,NaN,0.600,NaN,"[{""id"":185485,""name"":""Sortilèges Productions"",...",In Production,NaN,0.000,0
113242,645827de7b901e08b1464bca,[],2014-11-22,[],132201,True,2016-12-11,Anna und die wilden Lieder,22.0,1,...,de,Anna und die wilden Lieder,NaN,0.600,NaN,[],Returning Series,NaN,0.000,0
128152,645850fb7b901e08b146dfc5,[],2022-04-04,[],197874,True,2022-09-24,Mithai,149.0,1,...,hi,मिठाई,"Mithai, a gifted sweet maker, is on a quest to...",0.600,NaN,[],Returning Series,NaN,2.000,1
98068,64581c007b901e08b145a659,[],2016-12-14,"[{""id"":35,""name"":""Comedy"",""_id"":{""$oid"":""64581...",113792,False,2016-12-14,"Not Today, Bianca",2.0,1,...,en,"Not Today, Bianca",Drag queen Bianca Del Rio has arrived in Los A...,1.258,/m2UmlHliMcJYdQRkiAntHnjtS3L.jpg,"[{""id"":1421,""name"":""World of Wonder"",""logo_pat...",Ended,NaN,1.000,1
7588,6457d5ae7b901e08b141ecc2,[],NaN,[],8061,False,NaN,Ποιος θέλει να γίνει εκατομμυριούχος,0.0,0,...,el,Ποιος θέλει να γίνει εκατομμυριούχος,Based on the British Who Wants to be a Million...,0.600,NaN,[],Ended,NaN,0.000,0
10337,6457d7857b901e08b1420845,[],2001-08-21,"[{""id"":18,""name"":""Drama"",""_id"":{""$oid"":""6457d7...",10949,False,2001-09-07,Beech is Back,6.0,1,...,en,Beech is Back,Beech is Back was a storyline in the long-runn...,1.205,NaN,[],Ended,NaN,0.000,0
138428,645859ff7b901e08b14749ad,[],NaN,[],212096,True,2022-08-13,Kid Temper Tantrum,1.0,1,...,en,Kid Temper Tantrum,"Get to know the family, of stressed out dad, M...",0.600,NaN,[],Returning Series,NaN,0.000,0
61703,6457fd607b901e08b143e746,"[{""id"":964786,""name"":""Laurent Sarfati"",""_id"":{...",2016-11-22,"[{""id"":16,""name"":""Animation"",""_id"":{""$oid"":""64...",68888,False,2022-11-09,Lastman,32.0,2,...,fr,Lastman,"Paxtown, a corrupt capital, torn by crime and ...",5.760,/8ZGT8RdjNOczejJMfqFw97BdPOR.jpg,"[{""id"":33963,""name"":""Everybody on Deck"",""logo_...",Ended,NaN,7.643,21
143941,64585e487b901e08b147806b,"[{""id"":1922681,""name"":""Clémence Madeleine-Perd...",NaN,"[{""id"":35,""name"":""Comedy"",""_id"":{""$oid"":""64585...",218575,True,NaN,Irrésistible,6.0,1,...,fr,Irrésistible,NaN,0.600,NaN,"[{""id"":191300,""name"":""Jour Premier Production""...",Returning Series,NaN,0.000,0
18395,6457dd007b901e08b14254b2,[],NaN,[],19520,False,NaN,GSN Video Games,0.0,0,...,en,GSN Video Games,GSN Video Games was a short-lived block of sho...,0.600,NaN,[],Ended,NaN,0.000,0
116659,64582a777b901e08b1466c1d,[],2021-10-01,[],136203,True,2022-07-15,Pinocchio's enchanted village,52.0,1,...,it,Il villaggio incantato di Pinocchio,It follows Pinocchio's adventures in the Encha...,1.962,/4tUi05IsVpi1rIstJUZbbpsesYy.jpg,[],Returning Series,NaN,0.000,0
62128,6457fdc57b901e08b143ed23,"[{""id"":583824,""name"":""Maurice Druon"",""_id"":{""$...",2005-11-07,"[{""id"":18,""name"":""Drama"",""_id"":{""$oid"":""6457fd...",69405,False,2005-11-28,The Accursed Kings,5.0,1,...,fr,Les rois maudits,A sequence of seven episodes detailing the Fre...,3.266,/gz78i8kaQcOrvzkpvajHCeJYMbt.jpg,"[{""id"":83,""name"":""France 2 Cinéma"",""logo_path""...",Ended,NaN,4.700,3
58853,6457facf7b901e08b143bc3b,[],2014-09-03,[],65101,True,2014-09-03,Living with the Enemy,1.0,1,...,en,Living with the Enemy,NaN,0.600,NaN,[],Returning Series,NaN,0.000,0
54920,6457f6e47b901e08b14383f3,[],NaN,[],60098,True,NaN,The World Sheep Dog Trials,5.0,1,...,en,The World Sheep Dog Trials,NaN,0.600,NaN,[],Returning Series,NaN,0.000,0
8422,6457d6417b901e08b141f369,[],2005-06-05,"[{""id"":99,""name"":""Documentary"",""_id"":{""$oid"":""...",8903,False,2005-07-10,A Picture of Britain,6.0,1,...,en,A Picture of Britain,Series in which David Dimbleby journeys around...,0.657,/nIoq5BXoGNOs2YvJuLeoypF0o5O.jpg,[],Ended,NaN,6.000,1
143999,64585e597b901e08b1478125,[],2013-07-04,"[{""id"":10759,""name"":""Action & Adventure"",""_id""...",218652,True,2013-07-04,KAINAR,1.0,1,...,zh,超限猎兵凯能,"In 2200 AD, the earth's unified government beg...",0.600,/sDm0V1Mgj5lpIGGJTD1oH7yAUSx.jpg,"[{""id"":130779,""name"":""Alpha Group"",""logo_path""...",Returning Series,NaN,0.000,0
107810,645823987b901e08b146130d,[],2007-08-24,[],125688,False,2007-08-24,Magical Moe,1.0,1,...,ja,Magicalもえ,Moe and Bunta are chasing an enemy who holds t...,0.600,/zy48M9ZTNGbugXPo4JFJIVYJur9.jpg,[],Ended,NaN,0.000,0
16760,6457dbda7b901e08b14247cd,[],NaN,[],17796,False,NaN,Washingtonienne,0.0,0,...,en,Washingtonienne,Washingtonienne is an HBO comedy series develo...,0.600,NaN,[],Ended,NaN,0.000,0
20090,6457de367b901e08b14262dd,[],NaN,[],21436,False,NaN,State of Denial,0.0,0,...,en,State of Denial,NaN,0.600,NaN,[],Ended,NaN,0.000,0
146686,645860807b901e08b1479e93,[],2023-03-23,"[{""id"":35,""name"":""Comedy"",""_id"":{""$oid"":""64586...",221722,True,2023-04-21,X-Lance,30.0,1,...,ar,إكس لانس,"After he hits someone with his car, Hennawi, a...",1.770,/bMjbUumw04N0iTQJzqGtmrfka7X.jpg,[],Returning Series,NaN,6.000,1

In [5]:
import re

# Función para extraer el nombre de la compani
def extraer_nombres(df):
    import re
    lista_names = df[columns]
    lista_nombres = []
    opciones = df[columns]
    columna = input(f'escribe la columna que vaya aplicar la funcion: /n {opciones}')
    nueva_columna = input('escribre nombre de la nueva columna') 
    for name in lista_names:
        match = re.search(r'"name":"([^"]*)"', name)
        if match:
            lista_name = match.group(1)
            lista_nombres.append(lista_name)
    return lista_nombres
# Crear la nueva columna
    df['companias_nombre'] = df.apply(extract_company_name, axis=1)

In [6]:
tvs_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150802 entries, 0 to 150801
Data columns (total 21 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   _id                   150802 non-null  object
 1   created_by            150802 non-null  object
 2   first_air_date        119932 non-null  object
 3   genres                150802 non-null  object
 4   id                    150802 non-null  int64
 5   in_production         150802 non-null  bool
 6   last_air_date         122108 non-null  object
 7   name                  150796 non-null  object
 8   number_of_episodes    150168 non-null  float64
 9   number_of_seasons     150802 non-null  int64
 10  origin_country        150802 non-null  object
 11  original_language     150802 non-null  object
 12  original_name         150796 non-null  object
 13  overview              84623 non-null   object
 14  popularity            150802 non-null  float64
 15  poster_path           94927 non-null   object
 16  production_companies  150802 non-null  object
 17  status                150802 non-null  object
 18  tagline               4564 non-null    object
 19  vote_average          150802 non-null  float64
 20  vote_count            150802 non-null  int64
dtypes: bool(1), float64(3), int64(3), object(14)
memory usage: 23.2+ MB

In [7]:
tvs_df.drop(columns=['poster_path','_id','tagline'],axis=1 ,inplace=True) # columna imagem no aporta nada, la dropeo
tvs_df.sample(3)

,created_by,first_air_date,genres,id,in_production,last_air_date,name,number_of_episodes,number_of_seasons,origin_country,original_language,original_name,overview,popularity,production_companies,status,vote_average,vote_count
133189,[],2016-09-20,[],205838,True,2016-09-20,8시에 만나,1.0,1,"[""KR""]",ko,8시에 만나,NaN,0.600,[],Returning Series,0.0,0
119579,[],2016-07-18,[],139688,False,2016-07-20,World's Weirdest Animal Faces,3.0,1,"[""US""]",en,World's Weirdest Animal Faces,Majestic animals we deem beautiful are well do...,0.888,"[{""id"":32205,""name"":""Cineflix Productions"",""lo...",Ended,0.0,0
57085,"[{""id"":1473250,""name"":""Andreas Fikioris"",""_id""...",2010-06-03,[],62857,False,2010-06-03,Beltioste thn Ygeia sas,1.0,7,"[""GR""]",el,Βελτιώστε την Υγεία σας,NaN,0.600,[],Ended,5.0,1

In [8]:
tvs_df.production_companies.sample(3)

73428                                                    []
137267                                                   []
28929     [{"id":110067,"name":"Remarkable Television","...
Name: production_companies, dtype: object

In [9]:
tvs_df['generos'] = tvs_df['genres'].apply(cleaning.extraer_nombres)
tvs_df['generos'].sample(3)

78608     Documentary
118336          Drama
80181     Desconocido
Name: generos, dtype: object

In [10]:
tvs_df['creado_por'] = tvs_df['created_by'].apply(cleaning.extraer_nombres)
tvs_df.sample(3)

,created_by,first_air_date,genres,id,in_production,last_air_date,name,number_of_episodes,number_of_seasons,origin_country,original_language,original_name,overview,popularity,production_companies,status,vote_average,vote_count,generos,creado_por
32705,"[{""id"":1292323,""name"":""Naga"",""_id"":{""$oid"":""64...",1996-11-15,"[{""id"":80,""name"":""Crime"",""_id"":{""$oid"":""6457e6...",34941,True,1997-07-04,Marmadesam,80.0,5,"[""IN""]",ta,மர்மதேசம்,"Marmadesam, meaning ""Land of Mystery"" in Tamil...",5.287,"[{""id"":132784,""name"":""Minbimbangal"",""logo_path...",Returning Series,0.0,0,Crime,Naga
41407,[],NaN,"[{""id"":99,""name"":""Documentary"",""_id"":{""$oid"":""...",44800,False,NaN,MLK Boulevard,0.0,0,[],en,MLK Boulevard,NaN,0.600,[],Ended,0.0,0,Documentary,Desconocido
135859,[],2013-01-06,"[{""id"":10764,""name"":""Reality"",""_id"":{""$oid"":""6...",209022,True,2022-08-28,Dance India Dance Super Moms,20.0,3,"[""IN""]",hi,Dance India Dance Super Moms,"Talented mothers, who aspire to become phenome...",0.828,"[{""id"":86347,""name"":""Zee Studios"",""logo_path"":...",Returning Series,6.0,2,Reality,Desconocido

In [11]:
tvs_df['productoras'] = tvs_df['production_companies'].apply(cleaning.extraer_nombres)
tvs_df.sample(3)

,created_by,first_air_date,genres,id,in_production,last_air_date,name,number_of_episodes,number_of_seasons,origin_country,...,original_name,overview,popularity,production_companies,status,vote_average,vote_count,generos,creado_por,productoras
22073,[],2005-12-09,[],23511,False,2006-02-17,That Woman,20.0,1,[],...,That Woman,NaN,0.60,[],Ended,0.0,0,Desconocido,Desconocido,Desconocido
95244,[],2012-03-04,[],110319,True,2012-03-04,Yasutomo no Doko Iko!?,1.0,1,"[""JP""]",...,やすとものどこいこ!?,NaN,0.60,[],Returning Series,0.0,0,Desconocido,Desconocido,Desconocido
100591,[],2020-12-01,"[{""id"":10762,""name"":""Kids"",""_id"":{""$oid"":""6458...",116882,True,2023-05-03,Dr. Brumm,20.0,2,[],...,Dr. Brumm,NaN,6.86,[],Returning Series,0.0,0,Kids,Desconocido,Desconocido

In [12]:
tvs_df.isnull().sum()

created_by                  0
first_air_date          30870
genres                      0
id                          0
in_production               0
last_air_date           28694
name                        6
number_of_episodes        634
number_of_seasons           0
origin_country              0
original_language           0
original_name               6
overview                66179
popularity                  0
production_companies        0
status                      0
vote_average                0
vote_count                  0
generos                     0
creado_por                  0
productoras                 0
dtype: int64

In [13]:
tvs_df.drop(columns=['production_companies','created_by','genres'],axis=1 ,inplace=True) # columna imagem no aporta nada, la dropeo
tvs_df.sample(3)

,first_air_date,id,in_production,last_air_date,name,number_of_episodes,number_of_seasons,origin_country,original_language,original_name,overview,popularity,status,vote_average,vote_count,generos,creado_por,productoras
61267,2016-11-11,68358,False,2016-12-09,The Princess Weiyoung,54.0,1,"[""CN""]",zh,锦绣未央,A princess descended from a ruined noble famil...,10.948,Ended,7.0,21,"Drama, War & Politics",Desconocido,Croton Media
149004,2020-09-17,224284,False,2020-09-17,AmarElo Prisma,1.0,1,"[""BR""]",pt,AmarElo Prisma,NaN,0.600,Ended,0.0,0,Documentary,Emicida,Laboratório Fantasma
64064,2017-05-25,71888,True,2021-03-05,Growing Up Hip Hop: Atlanta,47.0,4,"[""US""]",en,Growing Up Hip Hop: Atlanta,Chronicling the perks and perils of being born...,2.721,Returning Series,8.0,16,Reality,Desconocido,Datari Turner Productions

In [14]:
tvs_df.isnull().sum()

first_air_date        30870
id                        0
in_production             0
last_air_date         28694
name                      6
number_of_episodes      634
number_of_seasons         0
origin_country            0
original_language         0
original_name             6
overview              66179
popularity                0
status                    0
vote_average              0
vote_count                0
generos                   0
creado_por                0
productoras               0
dtype: int64

In [15]:
tvs_df['generos'].sample(3)

68283     Desconocido
137691          Drama
127075    Documentary
Name: generos, dtype: object

In [16]:
tvs_df.describe().T

,count,mean,std,min,25%,50%,75%,max
id,150802.0,95452.023077,65908.935205,1.0,40398.25,86226.500,132047.75,226235.000
number_of_episodes,150168.0,24.704231,136.447485,0.0,1.00,6.000,20.00,19925.000
number_of_seasons,150802.0,1.550377,3.031528,0.0,1.00,1.000,1.00,345.000
popularity,150802.0,3.487269,22.754721,0.0,0.60,0.737,1.91,2162.502
vote_average,150802.0,2.400667,3.477006,0.0,0.00,0.000,6.00,10.000
vote_count,150802.0,13.953993,193.784426,0.0,0.00,0.000,1.00,21048.000

In [17]:
#tvs_df[tvs_df['name'] != np.()]
tvs_df = tvs_df[~tvs_df['name'].isna()] # quite los que no tenian name 
#tvs_df[~tvs_df['name'].notna()]

In [18]:
tvs_df.isnull().sum()

first_air_date        30867
id                        0
in_production             0
last_air_date         28693
name                      0
number_of_episodes      634
number_of_seasons         0
origin_country            0
original_language         0
original_name             0
overview              66173
popularity                0
status                    0
vote_average              0
vote_count                0
generos                   0
creado_por                0
productoras               0
dtype: int64

In [19]:
tvs_df.origin_country.sample(3)

125170    ["JP"]
56238     ["FI"]
87580         []
Name: origin_country, dtype: object

In [50]:
tvs_df.origin_country = tvs_df.origin_country.replace({"[]": 'Desconocido'})

/tmp/ipykernel_60/2938708518.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tvs_df.origin_country = tvs_df.origin_country.replace({"[]": 'Desconocido'})

In [20]:
tvs_df.origin_country.sample(3)

99321     ["IN"]
41190     ["JP"]
106376    ["CN"]
Name: origin_country, dtype: object

In [21]:
tvs_df.origin_country.value_counts()

[]                       32649
["US"]                   25166
["GB"]                   12381
["JP"]                   12148
["CN"]                    8318
                         ...
["DE","US","FR","IN"]        1
["FR","AT"]                  1
["PT","GB","ES"]             1
["ES","DE"]                  1
["CD"]                       1
Name: origin_country, Length: 770, dtype: int64

In [ ]:
tvs_df.to_csv('clean_tvs.csv') #cuando este limpio

### Preguntas

### 1.¿Cual es la serie con la duración más corta?

In [22]:

tvs_df.sort_values(by="number_of_episodes",ascending=True)# no real
#tengo varios con valor 0
tvs_df.loc[tvs_df['number_of_episodes'] == 0, 'number_of_episodes'] = np.nan
tvs_df.loc[(tvs_df["number_of_episodes"]==tvs_df['number_of_episodes'].min()),["name", "number_of_episodes"]].head(15)

                                          name  number_of_episodes
64                                  NBA on TNT                 1.0
203                             Bonds on Bonds                 1.0
238                          The New Inventors                 1.0
263                        Korgoth of Barbaria                 1.0
286                                   Fearless                 1.0
...                                        ...                 ...
150785                            Shaka iLembe                 1.0
150793                                   超迷你战士                 1.0
150795  ポルノグラフィティ「18th ライヴサーキット“暁”」DOCUMENTARY                 1.0
150799               Turkey: Empire of Erdogan                 1.0
150800             Woooooo! Becoming Ric Flair                 1.0

[21880 rows x 2 columns]

### 2.¿Cual es la serie con la duración más larga?

In [23]:

tvs_df.loc[(tvs_df["number_of_episodes"]==tvs_df['number_of_episodes'].max()),["name", "number_of_episodes"]]

             name  number_of_episodes
82482  Tagesschau             19925.0

### 3.¿Cual es la serie con más temporadas? ¿Y la que tiene más capítulos?

In [25]:

tvs_df.loc[(tvs_df["number_of_seasons"]==tvs_df['number_of_seasons'].max()),["name", "number_of_episodes",'number_of_seasons']]

       name  number_of_episodes  number_of_seasons
15769  Fuse              2518.0                345

### 4.¿Cual es el género más estrenado para cada mes y año?

In [45]:

tvs_df = tvs_df.drop([149713])# fecha que estaba parando mi transformacion y no aporta nada
tvs_df['fecha_inicio'] =  pd.to_datetime(tvs_df['first_air_date'], format="%Y/%m/%d")
tvs_df['fecha_fin'] =  pd.to_datetime(tvs_df['last_air_date'], format="%Y/%m/%d")
tvs_df.drop(columns=['last_air_date','first_air_date'],axis=1 ,inplace=True) # las dropeo por ya usar las nuevas columnas transformandas
tvs_df[['fecha_inicio','generos']].sample(5)

       fecha_inicio                          generos
144636   2016-10-22                             News
12568    2004-01-26                            Drama
5952     2000-11-22               Action & Adventure
132494   2012-02-07            Drama, War & Politics
36342           NaT  Sci-Fi & Fantasy, Drama, Comedy

In [49]:
tvs_df["mes_y_ano_inicio"] = tvs_df["fecha_inicio"].dt.strftime("%Y-%m")
def genero_mas_repetido(lista):
    generos = {}
    for genero in lista:
        if genero in generos:
            generos[genero] += 1
        else:
            generos[genero] = 1
    return max(generos, key=generos.get)
tvs_sin_desc = tvs_df[tvs_df['generos'] != 'Desconocido'] #quitando los 'Desconociados'
tv_gene_agrupado = tvs_sin_desc.groupby("mes_y_ano_inicio").agg({"generos": genero_mas_repetido}) # no estoy mirando si hay empates
tv_gene_agrupado # respuesta pero hay que limpiar los datos imaginarios y sin sentido

                                             generos
mes_y_ano_inicio
1917-01                                  Documentary
1938-08                                        Drama
1941-01                                       Family
1941-07                                         News
1944-01                                         Talk
...                                              ...
2024-03                    Drama, Action & Adventure
2024-04                                  Documentary
2024-06           Drama, Action & Adventure, Mystery
2026-02                   Comedy, Action & Adventure
2046-02             Crime, Action & Adventure, Drama

[919 rows x 1 columns]

### 5 . ¿Cual es la media de temporadas por género?

In [52]:
tvs_df.groupby("generos").agg({"number_of_seasons": 'mean'})

                                                    number_of_seasons
generos
Action & Adventure                                           1.437690
Action & Adventure, Animation                                1.398601
Action & Adventure, Animation, Comedy                        1.969231
Action & Adventure, Animation, Comedy, Crime                 1.000000
Action & Adventure, Animation, Comedy, Crime, S...           1.000000
...                                                               ...
Western, Reality                                             2.000000
Western, Sci-Fi & Fantasy                                    1.000000
Western, Sci-Fi & Fantasy, Action & Adventure, ...           1.000000
Western, Sci-Fi & Fantasy, Action & Adventure, ...           2.000000
Western, Sci-Fi & Fantasy, Comedy                            1.000000

[2146 rows x 1 columns]

### 6.Listado de los 10 creadores más prolíficos.

In [71]:
tvs_crea_gen=tvs_df.loc[(tvs_df["generos"]!= 'Desconocido')&(tvs_df["creado_por"]!= 'Desconocido'),["name", "creado_por",'generos','productoras']]
tvs_crea_gen.sample(10)

,name,creado_por,generos,productoras
109068,The Browns,John Mark Hostetler,Comedy,Producer Entertainment Group
133232,The Gia Thanh Show,Gia Thanh,"Comedy, Talk",Desconocido
70801,Adventures of Captain Vrungel,David Cherkaskyi,"Animation, Kids, Family, Action & Adventure",Desconocido
134475,La casa al final de la calle,"Jorge Fons, Antonio Monsell, Juan Osorio Ortiz",Soap,Desconocido
9207,Tommy & Oscar,"Iginio Straffi, Max Alessandrini","Kids, Family, Animation",RAI
75908,8 Days That Made Rome,"Nigel Levy, Gareth Johnson, Jim Greayer, Sebas...",Documentary,October Films
30572,Perfect Couples,"Scott Silveri, Jon Pollack",Comedy,Desconocido
138652,A Infância de Romeu e Julieta,Íris Abravanel,"Drama, Family, Soap","SBT, Amazon Studios"
61039,HIM,"Andy de Emmony, Paula Milne","Drama, Mystery",Desconocido
44355,Cennet Mahallesi,Türker İnanoğlu,"Comedy, Family",Erler Film

In [72]:
tvs_crea_gen['creado_por'].value_counts().head(10)

Adrián Suar                        61
Shotaro Ishinomori                 58
Joseph Barbera, William Hanna      43
R.J. Nuevas                        36
Carla Albuquerque, Beto Ribeiro    34
Ekta Kapoor                        33
Na Young-seok                      30
John de Mol                        28
Eiji Tsuburaya                     27
Yasushi Akimoto                    25
Name: creado_por, dtype: int64

In [77]:
#tvs_crea_gen.sort_values(by='creado_por', key=lambda x: x.map(x.value_counts()), ascending=False, inplace=True) # ordernado pero hay que ir sacando mas cosas de eso

AttributeError: 'function' object has no attribute 'head'

### 7.¿Que género es el que más producen estos escritores?

In [82]:
conteo_df = tvs_crea_gen.groupby('creado_por')['creado_por'].count().sort_values(ascending=False)
conteo_df.head(3)

creado_por
Adrián Suar                        61
Shotaro Ishinomori                 58
Joseph Barbera, William Hanna      43
R.J. Nuevas                        36
Carla Albuquerque, Beto Ribeiro    34
Name: creado_por, dtype: int64

In [87]:
for creador in conteo_df.head(10).index:
    generos = tvs_crea_gen.loc[tvs_crea_gen['creado_por'] == creador, 'generos']
    genero_mas_repetido = generos.mode()[0]
    print(f'El género más repetido para {creador} es {genero_mas_repetido}')# lo que me vino y usando el mode pra hacer el match con el creador

El género más repetido para Adrián Suar es Soap
El género más repetido para Shotaro Ishinomori es Action & Adventure, Sci-Fi & Fantasy, Drama
El género más repetido para Joseph Barbera, William Hanna es Animation
El género más repetido para R.J. Nuevas es Drama
El género más repetido para Carla Albuquerque, Beto Ribeiro es Comedy
El género más repetido para Ekta Kapoor es Drama
El género más repetido para Na Young-seok es Reality
El género más repetido para John de Mol es Reality
El género más repetido para Eiji Tsuburaya es Action & Adventure, Sci-Fi & Fantasy
El género más repetido para Yasushi Akimoto es Comedy

### 8.¿Cuanto duran de media en el aire las series? ¿Y por género?

In [88]:
tvs_df.info() # ya no me acordaba las columnas

<class 'pandas.core.frame.DataFrame'>
Int64Index: 150795 entries, 0 to 150801
Data columns (total 19 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   id                  150795 non-null  int64
 1   in_production       150795 non-null  bool
 2   name                150795 non-null  object
 3   number_of_episodes  125857 non-null  float64
 4   number_of_seasons   150795 non-null  int64
 5   origin_country      150795 non-null  object
 6   original_language   150795 non-null  object
 7   original_name       150795 non-null  object
 8   overview            84623 non-null   object
 9   popularity          150795 non-null  float64
 10  status              150795 non-null  object
 11  vote_average        150795 non-null  float64
 12  vote_count          150795 non-null  int64
 13  generos             150795 non-null  object
 14  creado_por          150795 non-null  object
 15  productoras         150795 non-null  object
 16  fecha_inicio        119929 non-null  datetime64[ns]
 17  fecha_fin           122102 non-null  datetime64[ns]
 18  mes_y_ano_inicio    119929 non-null  object
dtypes: bool(1), datetime64[ns](2), float64(3), int64(3), object(10)
memory usage: 26.0+ MB

In [94]:
series_fecha_df = tvs_df[["name",'fecha_inicio','fecha_fin']]
series_fecha_df['time_air'] = series_fecha_df['fecha_fin']- series_fecha_df['fecha_inicio']
series_fecha_df['time_air'].mean() # estaba sin tiempo de puede hacer con otro codigo sin error me imagino

/tmp/ipykernel_2885/935064319.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  series_fecha_df['time_air'] = series_fecha_df['fecha_fin']- series_fecha_df['fecha_inicio']

Timedelta('471 days 16:46:05.347479040')

In [ ]:
tvs_df.to_csv('clean_tvs.csv') #cuando este limpio

## Transformaciones:

### 1.Crea una nueva columna llamada 'media_episodios' que el número de episodios por temporada de cada serie.

In [95]:
tvs_df['media_episodios'] = tvs_df['number_of_episodes']  / tvs_df['number_of_seasons']
tvs_df['media_episodios']

0         142.000000
1           6.000000
2          26.000000
3          27.419355
4          36.272727
             ...
150797      4.000000
150798      6.000000
150799      1.000000
150800      1.000000
150801      2.000000
Name: media_episodios, Length: 150795, dtype: float64

### 2.Crea una nueva columna llamada 'habla_inglesa' que indique si la serie está en inglés o no.

In [97]:
tvs_df['habla_inglesa'] = np.where(tvs_df['original_language'] == 'en', 'Si', 'No')
tvs_df[['habla_inglesa','original_language']].sample(5)

       habla_inglesa original_language
28695             Si                en
34375             No                ko
50378             No                fi
25896             Si                en
111152            Si                en

### 3. Crear una nueva columna llamada 'produccion_europea' que indique si la serie es de producción europea o no.

In [ ]:
origin_country

### 4. Crea una nueva columna llamada 'mes_cancelacion' que indique el mes en el que se canceló la serie.